.benefits {
  height: 3em;
  font-size: 1.5em;
  color: blue;
  text-align: center;
  width: 80%;
  margin: 6em auto 3em;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
  }

  50% {
    color: red;
  }

	100% {
		opacity: 1;
	}
}

.user-route {
  position: relative;
  margin-top: 65%;
}

@media screen and (min-width: 700px) {
  .user-route {
    position: relative;
    margin-top: 30%;
  }
  .benefits p {
    font-size: 1.5em;
  }
}
