.container {
  margin-top: 9em;
}

#where-to {
  height: 3em;
  font-size: 1.5em;
  color: blue;
  text-align: center;
  width: 80%;
  margin: -5em 30% 6em;
}

.form-check-input {
  height: 1.5em;
  width: 1.5em;
}

.form-check-label {
  margin-right: 1em;
}

.medium {
  font-size: 1.5em !important;
}
