<div class="container" [@slideInLeft]>
  <p id="where-to"></p>
    <div style="margin: 0 25%;">
      <!-- This needs form collection -->
      <div class="form-check form-check-inline" style="margin-left: 3em;">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Tourist Attractions</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Great Food</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Accomodations</label>
      </div>
    </div>
  <app-agm>loading</app-agm>
</div>
