.container {
  margin-top: 3em;
}

#where-to {
  color: purple;
  font-size: 1.5em;
}

.form-check-input {
  height: 1.5em;
  width: 1.5em;
}

.form-check-label {
  margin-right: 1em;
}

.whatever{
  background-color: lightgrey;
  display: inline-block;
  width: 12em;
  height: 3em;
  padding: .1em .5em;
  color:white;
  font-size: 1em;
}

#checkboxes input[type=checkbox]{
  display: none;
}

#checkboxes input[type=checkbox]:checked + .whatever{
  border: 1.5px solid green;
  background-color: white;
  border-radius: 10px;
  color: green;
}

.btn-circle {
  border: 1px solid red;
  border-radius: 50%;
  width: 3em !important;
  height: 3em !important;
  color: red;
  margin-bottom: .5em;
}
.btn-circle p {
  font-size: .5em;
  text-align: center;
  width: 75%;
  margin: 0 auto ;
  line-height: 1em;
}

.btn-circle i {
  font-size: 1em;
  margin: 0 38%;
  text-align: center;
}

